@charset "utf-8";
@import url("style.css");


body {
    display: flex;
    flex-flow: row wrap;
}

header, footer, aside {
    flex: auto;
    text-align: start;
}

section {
    border: 3px;
    border-style: dotted;
    border-color: red;
    float: left;
    padding: 1%;
    box-sizing: border-box;
    margin: 3%;
    text-align: center;
}

/*  ============================
    Mobile: Less than 600 pixels
    ============================
*/

[class*="Feature"] {
    font-size: 1em;
    width: 94%;
    background: #9C0D41;
}

aside {
    display: none;
}

article {
    width: 100%;
}

nav>div {
    flex-basis: 100%;
}

/*  =========================================================
    Tablet: Greater than 599 pixels, and max width 768 pixels
    ========================================================= 
*/

@media only screen and (min-width: 600px) {

    [class*="Feature"] {
        font-size: 1.25em;
        width: 44%;
        background: #D9B8C4;
    }

    .Feature3 {
        width: 94%;
    }

    article {
        width: 80%;
    }

    aside {
        display: block;
    }

    nav>div {
        flex-basis: 100%;
    }
}

/*  ================================
    Desktop: Greater than 768 pixels 
    ================================
*/

@media only screen and (min-width: 769px) {

    nav div {
        width: 100%;
        padding: 10px;
        flex-basis: 30%;
    }

    [class*="Feature"] {
        font-size: 1.5em;
        width: 27%;
        background-color: #E6E49F;
    }

    article {
        width: 80%;
    }

    aside {
        display: block;
    }

}