@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #5D737E;
}

body {
    width: 100%;
    background-color: #ADEBE5;
}

header {
    height: 100px;
    width: 100%;
    background-color: #A4C4B6;
    /*  */
    padding: 5px;
    font-weight: bold;
}

footer {
    height: 40px;
    width: 100%;
    clear: both;
    background-color: #A4C4B6;
    font-weight: bold;
    padding: 5px;
}

nav {
    min-height: 40px;
    background-color: #D3ECDB;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

nav>div {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;

}

article {
    float: left;
    width: 100%;
    font-weight: bold;
    padding: 5px;
    clear: left;
    float: left;
    height: 200px;
}

aside {
    background-color: #64B6AC;
    height: 200px;
    width: 20%;
    padding: 5px;
    font-weight: bold;
    float: left;
}